{% extends "base.html" %}

{% block title %} Inicio | {{ client.name }} {% endblock %}

{% block content %}
    <h2>Bienvenido, {{ client.name }}</h2>
    <p>Este es tu espacio personal. Aquí podrás ver tus datos, tus pedidos y tus favoritos.</p>
    <br>
    <!-- Buttons to trainer detail, online trainings and reports -->
    <a href="{% url 'user_detail' %}"><button>Mis datos</button></a>
    <a href="{% url 'coach' %}"><button>Mi entrenador</button></a>
    <a href="{% url 'user_reports' %}"><button>Mis reportes</button></a>
    <a href="{% url 'user_online_trainings' %}"><button>Mis entrenamientos</button></a>
    <br>
{% endblock content %}