{% extends "base.html" %}

{% block title %} {{ title }} | {{ client.name }} {% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <!-- Button for new report -->
    <a href="{% url 'new_report' client.id %}"><button>Nuevo reporte</button></a>

    {% if reports %}
        {# List of the report links to detail view #}
        <ul>
            {% for report in reports %}
                <li><a href="{% url 'report_detail' client.id report.id %}">{{ report }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay reportes</p>
    {% endif %}

    <br>
    <!-- Buttons to trainer detail, online trainings and reports -->
    <a href="{% url 'user_detail' client.id %}"><button>Mis datos</button></a>
    <a href="{% url 'coach' client.coach.id %}"><button>Mi entrenador</button></a>
    <a href="{% url 'user_reports' client.id %}"><button>Mis reportes</button></a>
    <a href="{% url 'user_online_trainings' client.id %}"><button>Mis entrenamientos</button></a>
    <br>
{% endblock content %}