{% extends "private/client_base.html" %}
{% load static %}

{% block title %} Inicio | {{ client }} {% endblock %}

{% block panel %}
    <div class="container h-100">
        <div class="row">
            <div class="col-md-8 mt-3">
                <div class="container rounded mb-5" style="height: 30vh;">
                    <img src="{% static 'images/gray-body-slogan.jpg' %}" class="img-fluid w-100 h-100 rounded" style="object-fit: cover; object-position: center 65%;" alt="...">
                    <div class="position-absolute start-50 translate-middle rounded p-5 pt-3 pb-3 text-center" style="background-color: #cedada">
                        <p class="fs-4 fw-medium">¡Hola, {{client}}!</p>
                        <div class="text-center">
                            <a class="btn btn-primary" href="{% url 'training_detail' id_training=latest_training.id %}">Accede a tu entrenamiento</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h4 class="pt-3">Últimos reportes</h4>
                    <div class="row">
                        {% for report in reports %}
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    {% include "private/elements/l_pill.html" with title=report date=report.date id=report.id %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <h4>Historial de entrenamientos</h4>
                {% for training in trainings %}
                    {% include "private/elements/pill.html" with image=training.image title=training caption=training.description date=training.date id=training.id %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}