{% extends "private/client_base.html" %}
{% load static %}

{% block title %} Entrenamientos | {{ client.name }} {% endblock %}

{% block panel %}
    <div class="container h-100">
        <div class="row">

            <div class="container rounded mb-5" style="height: 25vh;">
                <img src="{% static 'images/gray-body-slogan.jpg' %}" class="img-fluid w-100 h-100 rounded" style="object-fit: cover; object-position: center 60%;" alt="...">
                <div class="position-absolute start-50 translate-middle rounded p-5 pt-3 pb-3 text-center">
                        <!-- TODO: cambiar al último-->
                        <a class="btn btn-primary" href="{% url 'user_online_trainings' client.id %}">Último entrenamiento</a>
                </div>
            </div>

            <div class="container">
                <h4 class="pt-3">Historial de entrenamientos</h4>
                <div class="row">
                    <!-- TODO: eliminar este -->
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            {% include "private/elements/pill.html" with image="body-slogan-removebg-preview.png" title='Hola!' caption='Deporte' date='02.03.2024' %}
                        </div>
                    </div>
                    {% for training in trainings %}
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                {% include "private/elements/pill.html" with image=training.image title=training.title caption=training.description date=training.date %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}