
<!-- Nav -->
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item align-middle">
        <a class="nav-link link-secondary" href="{% url 'user_main_space' %}">
            <span class="material-symbols-outlined">
                grid_view
            </span>
            <span>Panel principal</span>
        </a>
    </li>
    <li class="nav-item align-middle">
        <a class="nav-link link-secondary" href="{% url 'user_online_trainings' %}">
            <span class="material-symbols-outlined">
                fitness_center
            </span>
            <span>Entrenamientos</span>
        </a>
    </li>
    <li class="nav-item align-middle">
        <a class="nav-link link-secondary" href="{% url 'user_reports' %}">
            <span class="material-symbols-outlined">
                fact_check
            </span>
            <span>Informes</span>
        </a>
    </li>
    <li class="nav-item align-middle">
        <a class="nav-link link-secondary" href="{% url 'user_detail' %}">
            <span class="material-symbols-outlined">
                person
            </span>
            <span>Perfil</span>
        </a>
    </li>
</ul>
<hr>
<!-- User card -->
<div class="row rounded-2 border m-1 p-1 mb-4 position-relative" style="background-color: #cedada;">
    <div class="col-2">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle">
    </div>
    <div class="col-10 ps-4">
        <div>{{ client }}</div>
        <div>{{ client.user.email }}</div>
    </div>
    <a href="{% url 'user_detail' %}" class="stretched-link"></a>
</div>
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item align-middle">
        <a class="nav-link link-secondary" href="{% url 'logout' %}">
            <span class="material-symbols-outlined">
                logout
            </span>
            <span>Cerrar sesión</span>
        </a>
    </li>
</ul>
        