<!-- This component is a rounded element with a left optional rounded image, title and date -->
{% load static %}

<div class="d-flex align-items-start bg-light rounded-pill border p-3 m-3" style="border-color: #71CED9 !important">
    {% if image %}
        <img src="{% static 'images/'|add:image %}" class="rounded-circle img-fluid my-auto me-3 d-block bg-light" width="60"  alt="...">
    {% else %}
        <img src={% static "images/body-removebg-preview.png" %} class="rounded-circle img-fluid my-auto me-3 d-block bg-light" width="60" height="60" alt="...">
    {% endif %}
    <div class="text-light ms-2">
        <p class="fw-bold m-0" style="color: #71CED9">{{ title }}</p>
        <small class="m-0 text-secondary">{{ date }}</small>
    </div>
</div>